body{ 
backgrou-color h1d422l
color:white<body>
font family: "bai jamjure"
display:flex-layout 
ivstity:content:center
align-itens:center
heigh.700px
margin:0
}
button{
backgroud-color#64a712
color:white
font.family."bai jamjure"{
display:nome
display:block
}
text-align:center
max-width
{
max-width:90
